*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    justify-content: center;

}

body:before{
    content: "";
    width: 100%;
    min-height: 108vh;
    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(90deg,black, #953ea8);
    opacity: 0.6;
    z-index: -1;
}

body h1{
    position: relative;
    text-align:center;
}

body h1{
    font-size: 60px;
    font-family: cursive;
    color: rgb(223, 210, 210);
}

p{
    font-size: 25px;
    font-family: cursive;
    width: 95%;
    text-align:center;
    color: rgb(223, 210, 210);
    position: relative;
}




